@import "@nuxt/ui";
@import "tailwindcss";

html {
  font-family: "Roboto Condensed", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Inter", sans-serif;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}
